$primary-clolr: #0f171e;
$secondary-color: #1a242f;
$font-primary: #FFFFFF;
$font-secondary: #79b8f3;

.movie-list {
    margin: 20px 0px;

    h2 {
        font-weight: bolder;
        margin-bottom: 20px;
        color: $font-secondary;
    }
}

.movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}