@import "../../common/colors.scss";

.header {
    background-color: $secondary-color;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 40px;
}

.logo {
    color: $font-primary;
    font-size: 30px;
    font-weight: bold;
}


.user-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navOptionsContain {
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navOptions {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 35px;
    transition: all 0.3s;

    a {
        color: white;

        &:hover {
            transform: scale(1.3);
            transition: all 0.3s;
        }

        &:active {
            transform: scale(1.1);
            transition: all 0.3s;
            color: rgb(234, 41, 41);
        }
    }
}