$primary-color: #0f171e;
$secondary-color: #1a242f;
$font-primary: #FFFFFF;
$font-secondary: #79b8f3;


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:  "Open Sans", sans-serif;
}
a{
    text-decoration: none;
}
body{
    background-color: $primary-color;
}
.container{
    margin: auto;
}